<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 로그 파일 기본 경로 및 이름 -->
    <property name="LOG_DIR" value="./logs/"/>
    <property name="PARTY_DELETE_LOG_DIR" value="./logs/event/party/delete"/>
    <property name="LOG_FILE_NAME" value="info/info"/>
    <property name="ERROR_LOG_FILE_NAME" value="error/error"/>
    <property name="PARTY_DELETE_INFO_LOG_FILE" value="${PARTY_DELETE_LOG_DIR}/info"/>
    <property name="PARTY_DELETE_ERROR_LOG_FILE" value="${PARTY_DELETE_LOG_DIR}/error"/>

    <!-- 콘솔 출력 Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %highlight(%-5level) %magenta(%-4relative) --- [ %thread{10} ]
                %cyan(%logger{20}) : %msg%n
            </pattern>
        </encoder>
    </appender>

    <springProfile name="!test">
        <!-- 성공 로그 파일 Appender -->
        <appender name="LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_DIR}/${LOG_FILE_NAME}.log</file>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>DENY</onMatch>
                <onMismatch>ACCEPT</onMismatch>
            </filter>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${LOG_DIR}/${LOG_FILE_NAME}-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
                <maxFileSize>10MB</maxFileSize>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>

        <!-- ERROR 로그 파일 Appender -->
        <appender name="ERROR_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_DIR}/${ERROR_LOG_FILE_NAME}.log</file>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${LOG_DIR}/${ERROR_LOG_FILE_NAME}-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
                <maxFileSize>10MB</maxFileSize>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>

        <!-- Party Delete INFO 로그 -->
        <appender name="PARTY_DELETE_INFO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${PARTY_DELETE_INFO_LOG_FILE}.log</file>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>DENY</onMatch>
                <onMismatch>ACCEPT</onMismatch>
            </filter>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${PARTY_DELETE_INFO_LOG_FILE}-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
                <maxFileSize>10MB</maxFileSize>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>

        <!-- Party Delete ERROR 로그 -->
        <appender name="PARTY_DELETE_ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${PARTY_DELETE_ERROR_LOG_FILE}.log</file>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${PARTY_DELETE_ERROR_LOG_FILE}-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
                <maxFileSize>10MB</maxFileSize>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>
    </springProfile>

    <!-- INFO, ERROR 로거 -->
    <!-- 추후 변동 가능 -->
    <logger name="com.ll.playon.global.aspect" level="INFO" additivity="false">
        <appender-ref ref="LOG_FILE"/>
        <appender-ref ref="ERROR_LOG_FILE"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- 파티 삭제 이벤트 관련 로거 -->
    <logger name="com.ll.playon.domain.chat.listener.PartyRoomsDeleteEventListener" level="INFO" additivity="false">
        <appender-ref ref="PARTY_DELETE_INFO_FILE"/>
        <appender-ref ref="PARTY_DELETE_ERROR_FILE"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- ROOT 로거: 콘솔 출력만 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>